<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.project.dao.interfaces.DriverDAOI">
  <resultMap id="DriverResultMap" type="com.solvd.project.model.Drivers">
    <id property="driverId" column="DriverId"/>
    <result property="license" column="License"/>
    <result property="experience" column="Experience"/>
  </resultMap>

  <select id="getById" resultMap="DriverResultMap" parameterType="int">
    SELECT * FROM Drivers WHERE DriverId = #{id}
  </select>

  <select id="getAll" resultMap="DriverResultMap">
    SELECT * FROM Drivers
  </select>

  <insert id="insert" parameterType="com.solvd.project.model.Drivers">
    INSERT INTO Drivers (License, Experience)
    VALUES (#{license}, #{experience})
  </insert>

  <update id="update" parameterType="com.solvd.project.model.Drivers">
    UPDATE Drivers
    SET License = #{license}, Experience = #{experience}
    WHERE DriverId = #{driverId}
  </update>

  <delete id="delete" parameterType="int">
    DELETE FROM Drivers WHERE DriverId = #{id}
  </delete>
</mapper>
